@import "tailwindcss";

@theme {
  /* Couleurs */
  --color-light-bg: #f6f5f3;
  --color-white: #ffffff;
  --color-dark-text: #1a1919;
  --color-secondary-dark-text: #656360;
  --color-primary: #c039e5;
  --color-secondary: #7a139a;
  --color-success: #00dc82;


  /* Breakpoints */
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 760px;
  --breakpoint-desktop: 1024px;
}

@layer components {
  .page-container-y {
    @apply w-full mx-auto max-w-[100vw] desktop:max-w-7xl flex flex-col self-center px-0 desktop:px-2 overflow-hidden desktop:overflow-visible;
  }
}
